$watermark_switcher_width: 53px;
$watermark_switcher_margin: 37px;

.upload_modal_content{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 50px 43px 16px;

  @media screen and (max-width: 767px){
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  &_watermark{
    margin-right: $watermark_switcher_margin;

    @media screen and (max-width: 767px){
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-right: 0;
    }

    &_icon{
      width: $watermark_switcher_width;
      margin-bottom: 13px;

      @media screen and (max-width: 767px){
        width: 24px;
        margin-bottom: 0;
        margin-left: 33px;
      }

      img{
        display: block;
        width: 100%;
      }
    }

    &_switcher{
      margin: 0 auto;
      width: 45px;
      height: 20px;
      background-color: #FF7878;
      border: 2px solid #020056;
      border-radius: 54px;
      position: relative;
      cursor: pointer;
      transition: .3s;

      &.disabled{
        pointer-events: none;
        opacity: .5;
      }

      &:before{
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        transition: .3s;
      }

      &.active{
        background-color: #8ed1a9;

        &:before{
          left: 25px;
        }
      }
    }
  }

  &_image{
    flex: 1;
    height: 283px;
    background-color: #D9D9D9;
    border-radius: 5px;
    position: relative;
    max-width: 479px;

    @media screen and (max-width: 767px){
      width: 100%;
      height: 194px;
      flex: none;
      margin-bottom: 18px;
    }

    &.filled{
      background-color: transparent;
      height: auto;
    }

    &_img{
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
      display: block;
    }

    &_watermark{
      height: 6.25%;
      position: absolute;
      left: 50%;
      bottom: 2px;
      transform: translateX(-50%);
      display: block;
    }
  }

  &_empty{
    width: calc(#{$watermark_switcher_width} + #{$watermark_switcher_margin});

    @media screen and (max-width: 767px){
      display: none;
    }
  }
}