

.orange_badge{
  width: 429px;
  background-color: #E9983D;
  border-radius: 0 79px 79px 0;
  padding: 2px 0 5px 38px;
  margin-top: 43px;
  margin-bottom: 113px;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);

  @media screen and (max-width: 1000px){
    font-size: 32px;
    width: 300px;
  }

  @media screen and (max-width: 767px){
    width: 260px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 150px;
  }
}

.info_content{
  width: 980px;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 107px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  padding: 60px 133px;

  @media screen and (max-width: 1000px){
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 767px){
    padding: 15px 40px 25px;
  }

  p{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

    @media screen and (max-width: 767px){
      font-size: 14px;
    }

    & + p{
      margin-top: 20px;
    }
  }
}