.legal_content{
  margin: 0 30px 100px;

  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 4px 4px rgba(0, 0, 0,.45);
  border-radius: 15px;
  padding: 60px;
  line-height: 1.3;

  li + li,
  p + p{
    margin-top: 5px;
  }

  ul{
    margin-top: 10px;
  }

  h2{
    margin: 20px 0 10px;
  }

  @media screen and (max-width: 767px){
    font-size: .9rem;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
  }
}